<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>奥尼尔</string>
	<string>保罗</string>
	<string>基德</string>
	<string>吉诺比利</string>
	<string>加内特</string>
	<string>科比</string>
	<string>林书豪</string>
	<string>詹姆斯</string>
</array>
</plist>
