<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITableView-自定义cell（xib）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>038347761D211FF700A73368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0383478F1D211FF700A73368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0383479A1D211FF700A73368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
