/*左侧大图*/
.detail-left{
	float: left;
}
.detail-left div img {
	width: 380px;
	height: 380px;
	margin-top: 20px;
}

/* 左侧 img List*/
.imgList {
	width: 380px;
	margin: 0;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	/*padding-left: 0;*/
	list-style: none;

}
.imgList li {
	display: inline;
	
}
.imgList li img {
	padding-right: 15px;
}

li.imgList-last  img{
	padding-right: 0;
}

.detail-right {
	float: left;
	padding-left: 30px;
}

/*右侧*/
.detail-brief {
	width: 30em;
}

.imgList-right {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	list-style: none;
}

.imgList-right li {
	display: inline;
	
}

.imgList-right li img {
	padding-right: 20px;
}

.list-btn {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 20px;
}

.list-btn li {
	display: inline;
	padding-right: 20px;
}

.tb-buy {
	margin-top: 20px;
}