<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>button.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03792D8B1CF52CA600E97F6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03792DA41CF52CA600E97F6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03792DAF1CF52CA600E97F6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
