/*修改logo高度*/
/*.navbar-brand{
	padding: ;
}*/


#center-logo {
	position: absolute;
	bottom: 15px;
	left: 50%;
}

footer {
	background-color: #3b2941;
	color: #fff;
}


/*第二层*/
.section-qrcode{
	position: relative;
	height: 250px;
}

.section-qrcode>div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.btn-download {
	/*background-color: #3b2941;*/
	/*color: #fff;*/
	/*border: none;*/
	margin-right: 70px;
}

.btn-download img {
	padding-right: 20px;
}

#qrCode{
	position: absolute;
	bottom: 0;
}

/*第三层*/
.section-group {
	height: auto;
	/*background: #fff url(../img/lunbo/png/小组1.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
   -moz-background-size:100% 100%;
   background-size:100% 100%;*/
}


/*第四层*/

/*第五层*/
.section-nearby {
	height: auto;

	color: #fff;
}

/*第六层*/


/*第七层*/
.section-community {
	height: auto;
	color: #fff;
}
.row p{
	height: 200px;
	line-height: 200px;
}

.row2{
	height: 180px;
}
.content{
	width: auto;
	height: auto;
	padding-top: 55px;
	margin: 0 auto;
}
.row2 p{
	text-align: center;
}